# 1) Declaring Variable, List, Dictionaries

In [93]:
# You don't have to declare datatype for variable, it's not necessary, you can simple write
x = 5 #this will be considered as int
x_str = 'Hi, this is Tanay from Let Machine Talk!' #you can declare string directly, single 
#or double quotes, both are fine, we will dive into that later

In [94]:
#to print
print(x)

5

In [2]:
type(x)

int

In [3]:
#List is declared with two open brackets.
y = []

In [4]:
type(y)

list

In [125]:
#if I have to fill something
y = [1,2,3,4,5]
print(y)

[1, 2, 3, 4, 5]

In [6]:
#index in python starts from 0, so if you want to access the element of a list, 
#it's done through open brackets and then the index number
y[0]

1

In [8]:
#select from and to index in list
#y[from:to], to won't count, so if I want to select 2,3 from y
y[1:3]

[2, 3]

In [9]:
#finding length of a list
len(y)

5

In [14]:
#adding the numbers in the list
sum(y)

15

In [15]:
#adding selected numbers
sum(y[1:4])

9

In [17]:
# accessing the last element of the list
y[-1]

5

In [18]:
#accessing the last "x" elements
y[-3:-1]

[3, 4]

In [16]:
#you can make a list of string as well
y_str = ['Hi', 'this', 'is', 'tanay',',','and','you','are','watching','let machine talk']

In [12]:
#to join all these strings together, you can put anything into the double quotes
" ".join(y_str)

'Hi this is tanay , and you are watching let machine talk'

In [13]:
"%".join(y_str)

'Hi%this%is%tanay%,%and%you%are%watching%let%machine%talk'

In [20]:
#if you want to access the characters of strings in list, access the particular element and then access the index
#example if i want to access machine in let machine talk

y_str[-1]

'let machine talk'

In [23]:
y_str[-1][4:11] #4, 11 are the index positions of m and till e

'machine'

In [27]:
#if I only want to access 'let'
y_str[-1][0:3]

'let'

In [28]:
#if you want to access first few or last few letter, you don't have to specify index as well,
#suppose I want to select the whole string after "m", I don't have to specify the ending index
y_str[-1][4:]

'machine talk'

In [44]:
y.sort()

In [50]:
y.reverse()
y

[1, 2, 3, 4, 5]

In [59]:
y = [3,4,3,2,1,1,3]

In [60]:
#counting how many times a number is repeated
y.count(3)

3

In [61]:
# removing one 3 at a time
y.remove(3)

In [62]:
y

[4, 3, 2, 1, 1, 3]

In [63]:
y.remove(3)
y

[4, 2, 1, 1, 3]

In [64]:
y.remove(3)
y

[4, 2, 1, 1]

In [65]:
#if I want to know the index of a particular element
y.index(1)

2

In [69]:
#you are going to use this command many times, this is to add an element, before using element, remember that
#you have to declare it as a list other it will throw an error
z.append(1)

NameError: name 'z' is not defined

In [67]:
y.append(3)
y

[4, 2, 1, 1, 3]

In [71]:
#Dictionary
#1 Declaration with curly brackets, it has a key-value pair
z = {}

In [72]:
#to add to the dictionary, you can simply type the key-value pair
z['key'] = 'value'

In [73]:
z

{'key': 'value'}

In [74]:
z[1] = 2

In [76]:
#it automatically adds up
z

{'key': 'value', 1: 2}

In [77]:
#Now if I want to access value, I will access it like I accessed it in list except, here the indices are the keys
#itself, so you cannot use traditional indexing, index of the value is the key of the value

z['key']

'value'

In [78]:
z[1]

2

In [79]:
z.items()

dict_items([('key', 'value'), (1, 2)])

In [84]:
#if you want to pop items out
z.pop('key')

'value'

In [85]:
z

{1: 2}

In [86]:
z['key'] = 'value'

In [87]:
#returning only all keys
z.keys()

dict_keys([1, 'key'])

In [88]:
#returning all values
z.values()

dict_values([2, 'value'])

In [91]:
#if you want to add new dictionary or append to dictionaries
z_new = {2:3}
z.update(z_new)

In [92]:
z

{1: 2, 'key': 'value', 2: 3}

# 2 ) Using if, else statement

In [174]:
x = 10

if x%2==0:
    print(x)
else:
    print('not divisible')

10

# 3 ) For, while loop

In [95]:
# FOR loop is actually quite simple
#suppose, I want to print all the elements of y

for numbers in y:
    print(numbers)

4
2
1
1
3

In [96]:
#inplace of numbers, anything can be placed, it acts as a temporary variable, you cannot access numbers outside
nummbers

NameError: name 'nummbers' is not defined

In [97]:
for _ in y:
    print(_)

4
2
1
1
3

In [98]:
#while loop
i = 0

while i < len(y):
    print(y[i])
    i+=1

4
2
1
1
3

In [99]:
#two way to iterate through list

# one-direct

for x in y:
    print(x)

4
2
1
1
3

In [100]:
#second-through index

for x in range(len(y)):
    print(y[x])

4
2
1
1
3

In [101]:
#range command
#if you want to get a series of numbers with patters between two number, you can use range command, it is used
#very often
range(0,len(y))

range(0, 5)

In [102]:
range(len(y))

range(0, 5)

In [104]:
print(list(range(0,len(y))))

[0, 1, 2, 3, 4]

In [107]:
#if I want bigger gaps
print(list(range(0, 20, 4)))

[0, 4, 8, 12, 16]

In [110]:
#the end 4 specifies the difference between each number
#iterating through dictionary
#print all the keys
for _ in z.keys():
    print(_)

1
key
2

In [111]:
#printing all the values
for _ in z.values():
    print(_)

2
value
3

In [113]:
for x, y in zip(z.keys(),z.values()):
    print(x,y)

1 2
key value
2 3

In [117]:
#using enumerate
for c, _ in enumerate(y_str,1):
    print(c, _)

1 Hi
2 this
3 is
4 tanay
5 ,
6 and
7 you
8 are
9 watching
10 let machine talk

In [118]:
new_list = list(enumerate(y_str, 1))

In [119]:
new_list

[(1, 'Hi'),
 (2, 'this'),
 (3, 'is'),
 (4, 'tanay'),
 (5, ','),
 (6, 'and'),
 (7, 'you'),
 (8, 'are'),
 (9, 'watching'),
 (10, 'let machine talk')]

In [175]:
# same division program using for loop
#we will learn to do the same thing in one line of code
divisible_by_2 = []

for x in [1,2,3,4,5,6,7]:
    if x%2==0:
        divisible_by_2.append(x)
    else:
        pass
divisible_by_2

[2, 4, 6]

# 4) Using Comprehensions

In [120]:
comp = [x for x in range(0, 10)]

In [121]:
comp

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [126]:
comp_1 = [x for x in y if x > 2]

In [127]:
comp_1

[3, 4, 5]

In [132]:
list_of_sq = [i**2 for i in range(0,10)]

In [133]:
list_of_sq

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [131]:
y_str

['Hi',
 'this',
 'is',
 'tanay',
 ',',
 'and',
 'you',
 'are',
 'watching',
 'let machine talk']

In [130]:
[x.upper() for x in y_str]

['HI',
 'THIS',
 'IS',
 'TANAY',
 ',',
 'AND',
 'YOU',
 'ARE',
 'WATCHING',
 'LET MACHINE TALK']

# 5) Working with strings

In [142]:
sentence = "Hi, this is Tanay and you are watching Let Machine Talk.\n"

In [135]:
sentence.upper()

'HI, THIS IS TANAY AND YOU ARE WATCHING LET MACHINE TALK'

In [136]:
sentence.lower()

'hi, this is tanay and you are watching let machine talk'

In [138]:
sentence.count('this')

1

In [143]:
sentence.strip()

'Hi, this is Tanay and you are watching Let Machine Talk.'

In [144]:
sentence.split(',')

['Hi', ' this is Tanay and you are watching Let Machine Talk.\n']

In [145]:
sentence.replace(',','')

'Hi this is Tanay and you are watching Let Machine Talk.\n'

In [147]:
sentence.find('Tanay')

12

In [149]:
sentence[12:]

'Tanay and you are watching Let Machine Talk.\n'

In [150]:
sentence.islower()

False

In [151]:
sentence.isupper()

False

# 6) What the hell are functions?

In [152]:
def square(x):
    return x**2

In [153]:
square(4)

16

In [164]:
def print_list(lis):
    print(lis)

In [165]:
x_1 = [1,2,3]
print_list(x_1)

[1, 2, 3]

# 7) What the hell is a map function?

In [170]:
#if you want to applya function to a set of values, then map function is very useful
print(list(map(square, [1,4,5,3,2])))

[1, 16, 25, 9, 4]

# 8) What the hell is lambda?

In [172]:
#lambda is very very useful, we are going to use lambda and functions all the time.
#in above example, 
#instead of defining function before hand, using lambda, you can design the operation then and there
list(map(lambda x: x**2,[1,4,5,3,2]))

[1, 16, 25, 9, 4]

# 9) What is filter?

In [173]:
#if you want to filter elements according to certain criterion, instead of using for, if, else statement,
#we can do it in one line

list(filter(lambda x:x%3==0, [1,3,6,9,20,12,6,7,8,2,13]))

[3, 6, 9, 12, 6]

# swapping

In [176]:
a = 2
b= 3
a,b=b,a
print(a,b)

3 2

# 10) Zip Command

In [177]:
#with zip command, you can iterate over multiple lists simultaneously
x = [1,2,3,4,5]
y=[6,7,8,9,10]

for _, f in zip(x,y):
    print(_,f)

1 6
2 7
3 8
4 9
5 10

# we will learn on the go....